# dependencies
/node_modules

# production
/.next
/.next/cache
/out
/.vercel               # si usas Vercel CLI

# contentlayer (arquivos generados)
.contentlayer/

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# tooling caches
.eslintcache
.stylelintcache
.turbo
.pnpm-store
.cache

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / IDE
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# misc
*.swp
*.swo
